<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="btn-novo-tanque">
    <h1>Administrador de Espécies</h1>
    </div>
    <div class="">
      <%= link_to 'Nova Espécie', new_admin_specy_path, class:'btn btn-primary' %>
      <%= link_to 'Voltar', admin_path, class:'btn btn-primary mr-3' %>
    </div>
  </div>

  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Título</th>
      </tr>
    </thead>
    <tbody>
      <% @species.each do |specy| %>
      <tr>
          <td class="col-3"><%= specy.name_pt_br %></td>
          <td class="col-2"><%= specy.title_pt_br %></td>
          <td class="col-1"><%= link_to 'Mostrar', [:admin, specy], class:'btn btn-primary' %></td>
          <td class="col-1"><%= link_to 'Editar', edit_admin_specy_path(specy), class:'btn btn-info'%></td>
          <td class="col-1"><%= link_to 'Deletar', [:admin, specy], method: :delete, data: { confirm: 'Tem certeza?' }, class:'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>