<%= content_for :head do %>
  <%= stylesheet_link_tag 'researches' %>
<% end %>
<div class="container header">
  <div class="row pesquisa">
    <div class="col mt-5">
      <%= link_to "/" do %>
        <%= image_tag "logo/logo_pesquisa.png", class: 'logo-pesquisa' %>  
      <% end %>
    </div>    
  </div>
</div>
<div class="">
  <%= link_to '', root_path, class: 'voltar' %>
</div>

<div class="mb">
  <% @tanks.each do |t| %>
      <li class="header">
        <%= link_to t.name(language), research_path(t.id), class: 'botao bt-home bt-pesquisa' %>
      </li>
  <% end %>
</div>
<% session[:language] %>
