<div class="container header">
  <div class="row pesquisa">
    <div class="col mt-5">
      <%= link_to "/" do %>
        <%= image_tag "logo/logo_pesquisa.png", class: 'logo-pesquisa' %>  
      <% end %>
    </div>    
  </div>
</div>
<div class="container">
  <h4 class="text-center titulo-pesquisa"><%= @tank.name(language) %></h4>
  <div class="card-deck">
    <% @researches.each do |r| %>
      <div class="card cartao">
        <%= image_tag(r.image.url(:research), class: 'card-img-top')%>
        <div class="card-body">
          <h5 class="card-title text-center"><%= r.title(language) %></h5><hr>
          <p class="card-text"><%= r.description(language) %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted"> <%= r.author.join(', ') %> </small>
        </div>
      </div>
    <% end %>
    <div class="header mb-5">
      <%= link_to t('home.buttons.other_researches'), researches_path, class: 'botao bt-home' %>
    </div>
  </div>
</div>
