<%= content_for :head do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>

<div class="container header">
      <div class="row">
        <div class="col mt-5">
          <%= link_to "/" do %>
            <%= image_tag "logo/logo.png", class: 'logo' %>  
          <% end %>
        </div>    
      </div>
    </div>

<div class="header mb">
  <%= link_to t('home.buttons.research'), researches_path, class: 'botao bt-home' %> 
  <!--<%= link_to 'Visita Guiada', guidedtour_index_path, class: 'botao bt-home disabled', disabled:true %>--> 
  <!--<%= link_to 'Mapa do Circuito', researches_path, class: 'botao bt-home disabled', disabled:true %>-->
  <!--<%= link_to 'Atividades Extras', researches_path, class: 'botao bt-home disabled', disabled:true %>-->
  
  <!-- Button trigger modal -->
  <button type="button" class="botao bt-home disabled" data-toggle="modal" data-target="#exampleModalCenter">
    <%= t('home.buttons.guidetour') %>
  </button>

  <!-- Modal -->
  <div class="modal fade bg-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalCenterTitle">Visita Guiada</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>Estamos trabalhando para liberar essa funcionalidade o quanto antes!</h6>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
  <button type="button" class="botao bt-home disabled" data-toggle="modal" data-target="#mapadocircuito">
    <%= t('home.buttons.circuitmap') %>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="mapadocircuito" tabindex="-1" role="dialog" aria-labelledby="mapadocircuitoTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="mapadocircuitoTitle">Mapa do Circuito</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>Estamos trabalhando para liberar essa funcionalidade o quanto antes!</h6>
        </div>
      </div>
    </div>
  </div>

  <!-- Button trigger modal -->
  <button type="button" class="botao bt-home disabled" data-toggle="modal" data-target="#atividadesextras">
    <%= t('home.buttons.extraactivities') %>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="atividadesextras" tabindex="-1" role="dialog" aria-labelledby="atividadesextrasTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="atividadesextrasTitle">Atividades Extras</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6>Estamos trabalhando para liberar essa funcionalidade o quanto antes!</h6>
        </div>
      </div>
    </div>
  </div>

</div>