<%= content_for :head do %>
  <%= stylesheet_link_tag 'home' %>
<% end %>

<div class="container header">
  <div class="row">
    <div class="col">
      <%= image_tag  "logo.png", class: 'logo' %>  
    </div>    
  </div>
</div>

<div class="header">  
  <%= link_to 'Visita Guiada', researches_path, class: 'botao bt-home' %> 
  <%= link_to 'Pesquisas', researches_path, class: 'botao bt-home' %> 
  <%= link_to 'Mapa do Circuito', researches_path, class: 'botao bt-home'%>  
  <%= link_to 'Atividades Extras', researches_path, class: 'botao bt-home' %>    
</div>