<div class="container">
  <h4 class="text-center titulo-pesquisa"><%= @tank.name(language) %></h4>
  <div class="card-deck">
      <div class="card cartao">
        <h5 class="card-title text-center mt-3 mr-2 ml-2"><%= @tank.title(language) %></h5><hr>
        <%= image_tag(@tank.image.url(:tank) || 'sem-imagem.jpeg', class: 'card-img-top')%><hr>
        <div class="card-body">                    
          <p class="card-text text-justify"><%= raw @tank.description(language).to_s.gsub(/\n/, '<br>') %></p>
        </div>
      </div>
      <div class="header mb-5">
      <%= link_to t('home.buttons.back'), guidedtour_index_path, class: 'botao bt-home' %>
    </div>
  </div>
</div>
