<div class="container header">
  <div class="row">
    <div class="col band-libras fixed-top-libras">
      <!-- Button trigger modal -->
      <%= link_to "#" do %>
        <%= image_tag "botoes/btn-libras.png", class: 'img-responsive bandeiras-libras', "data-toggle" => "modal", "data-target" => "#ModalLibras" %>  
      <% end %>         
      <%= link_to "#" do %>
        <%= image_tag "botoes/btn-audio.png", class: 'img-responsive bandeiras-libras', "data-toggle" => "modal", "data-target" => "#ModalAudio" %>  
      <% end %>       
    </div> 
    <!-- Modal Libras -->
    <div class="modal fade" id="ModalLibras" tabindex="-1" role="dialog" aria-labelledby="ModalLibrasTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLibrasTitle"><%= @tank.name(language) %> - Libras</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" src="<%= @tank.link_libras %>"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Audio -->
    <div class="modal fade" id="ModalAudio" tabindex="-1" role="dialog" aria-labelledby="ModalAudioTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalAudioTitle"><%= @tank.name(language) %> - Audio</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" src="<%= @tank.link_audio %>"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container header">
  <div class="row">
    <div class="col mt-5">
      <%= link_to "/" do %>
        <%= image_tag "logo/logo.png", class: 'logo' %>  
      <% end %>
    </div>    
  </div>
</div>

<div class="container">
  <h4 class="text-center titulo-pesquisa"><%= @tank.name(language) %></h4>
  <div class="card-deck">
    <div class="card cartao">
      <h5 class="card-title text-center mt-3 mr-2 ml-2"><%= @tank.title(language) %></h5><hr>
      <%= image_tag(@tank.image.url(:tank) || 'sem-imagem.jpeg', class: 'card-img-top')%>
      <div class="card-body">                    
        <p class="card-text text-justify"><%= raw @tank.description(language).to_s.gsub(/\n/, '<br>') %></p>
        <div class="bt">
          <% if @tank.researches.any? %>
            <%= link_to research_path(@tank) do %>
              <%= image_tag  "botoes/btn-pesquisa.png", class:'btn-pesquisa' %>
            <% end %>
          <% end %>
        </div>      
        <hr>        
        <% @tank.species.each do |specy| %>        
          <p class="card-text text-justify">
            <b><%= specy.name(language) %> - </b>
            <i><%= specy.scientific_name(language) %>.</i>            
          </p>
          <%= image_tag specy.image.url(:tank), class: 'card-img-top mb-3' %>
          <p class="text-justify">
            <%= specy.title(language) %>
            <%= specy.description(language) %>          
          </p>          
        <% end %>
      </div>

      <div class="row justify-content-md-center mb-2">
        <div class="col text-center">          
          <%= link_to do %>
            <p>Ouvir Áudio</p>
            <%= image_tag  "botoes/btn-audio.png", class:'btn-interacao' %>
          <% end %>
        </div>
        <div class="col text-center">          
          <%= link_to do %>
            <p>Assistir Libras</p>
            <%= image_tag  "botoes/btn-libras.png", class:'btn-interacao' %>
          <% end %>
        </div>
      </div>
      
    </div>
    <div class="header mb-5">      
      <%= link_to t('home.buttons.other_tanks'), guidedtour_index_path, class: 'botao bt-home' %>    
    </div>
  </div>
</div>
