<div class="container header">
  <div class="row">
    <div class="col mt-5">
      <%= link_to "/" do %>
        <%= image_tag "logo.png", class: 'logo' %>  
      <% end %>
    </div>    
  </div>
</div>

<div class="container">
  <h4 class="text-center">Pesquisa do tanque<%=  %></h4>
  <div class="card-deck">  
      <div class="catd cartao">
        <%= image_tag(@tank.image || 'sem-imagem.jpeg', class: 'card-img-top')%>
        <div class="card-body">
          <h5 class="card-title text-center"><%= @tank.title %></h5><hr>
          <p class="card-text"><%= @tank.name_pt_br %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted"> <%= @tank.author %> </small>
        </div>
      </div>   
  </div>
</div>