<%= form_for([:admin, tank]) do |f| %>
  <% if tank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tank.errors.count, "error") %> proibiu que este tanque fosse salvo:</h2>

      <ul>
      <% tank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    
      <div class="row mb-2">        
        <div class="col-4">            
          <%= f.label :name_pt_br %>  
          <%= f.text_field :name_pt_br, class:'form-control', placeholder:'Ex: Águas Vivas' %>            
        </div>
        <div class="col-4">            
          <%= f.label :name_en_us %>
          <%= f.text_field :name_en_us, class:'form-control', placeholder:'Ex: Jellyfish' %>            
        </div>            
        <div class="col-4">            
          <%= f.label :name_es_es %>
          <%= f.text_field :name_es_es, class:'form-control', placeholder:'Ex: Medusas' %>            
        </div>
      </div>
      
      <div class="row mb-2">        
        <div class="col-4">            
          <%= f.label :title_pt_br %>    
          <%= f.text_field :title_pt_br, class:'form-control', placeholder:'Ex: Águas Vivas' %>            
        </div>       
        <div class="col-4">            
          <%= f.label :title_en_us %>
          <%= f.text_field :title_en_us, class:'form-control', placeholder:'Ex: Jellyfish' %>            
        </div>        
        <div class="col-4">            
          <%= f.label :title_es_es %>
          <%= f.text_field :title_es_es, class:'form-control', placeholder:'Ex: Medusas' %>            
        </div>
      </div>

      <div class="row mb-2">        
        <div class="col-4">            
          <%= f.label :description_pt_br %>
          <%= f.text_area :description_pt_br, class:'form-control text-area', placeholder:'Digite uma descrição em Português...' %>            
        </div>
        <div class="col-4">            
          <%= f.label :description_en_us %>
          <%= f.text_area :description_en_us, class:'form-control text-area', placeholder:'Digite uma descrição em Inglês...' %>            
        </div>
        <div class="col-4">            
          <%= f.label :description_es_es %>
          <%= f.text_area :description_es_es, class:'form-control text-area', placeholder:'Digite uma descrição em Espanhol...' %>            
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="col-4">            
          <%= f.label :image %>
          <%= f.file_field :image %> <br>
          <%= image_tag(@tank.image.url(:thumb), class: 'card-img-top')%>  
        </div>   
        <div class="col-4">
          <label for="exampleFormControlSelect1"><%= f.label :order %></label>            
          <%= f.text_field :order, class:'form-control', placeholder:'Digite a ordem do tanque Ex: 1 (para primeiro)' %>
        </div>        
      </div>

      <div class="row mb-2">        
        <div class="col-4">            
          <%= f.label :link_libras %>    
          <%= f.text_field :link_libras, class:'form-control', placeholder:'Digite o link do YouTube...' %>            
        </div>       
        <div class="col-4">            
          <%= f.label :link_audio %>
          <%= f.text_field :link_audio, class:'form-control', placeholder:'Digite o link do YouTube...' %>            
        </div>
      </div>

      <h4 class="mb-2 mt-3">Selecione abaixo todas as espécies que faz parte desse tanque:</h4>
      <div class="row mb-2">  
        <% Specy.order(:order).each do |specy| %>
          <div class="col-4">      
            <%= check_box_tag "tank[specy_ids][]", specy.id, tank.species.include?(specy) %> 
            <%= specy.name_pt_br %>
          </div>
        <% end %>
      </div>

    <div class="actions">
      <% if f.object.new_record? %>
        <%= f.submit 'Criar', class:'btn btn-success' %>
      <% else %>
        <%= f.submit 'Atualizar', class:'btn btn-success' %>      
        <%= link_to "Visualizar como Usuário", guidedtour_path(f.object.id), class:'btn btn-success' %>
      <% end %>
    </div>
  </div>
<% end %>
