<%= form_for([:admin, tank]) do |f| %>
  <% if tank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tank.errors.count, "error") %> proibiu que este tanque fosse salvo:</h2>

      <ul>
      <% tank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <form>
      <div class="row mb-2">
        <div class="col-2">
          <%= f.label :name_pt_br %>            
        </div>
        <div class="col-3">            
          <%= f.text_field :name_pt_br, class:'form-control', placeholder:'Ex: Águas Vivas' %>            
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-2">
          <%= f.label :name_en_us %>
        </div>
        <div class="col-3">            
          <%= f.text_field :name_en_us, class:'form-control', placeholder:'Ex: Jellyfish' %>            
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-2">
          <%= f.label :name_en_us %>
        </div>
        <div class="col-3">            
          <%= f.text_field :name_es_es, class:'form-control', placeholder:'Ex: Medusas' %>            
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-2">
          <%= f.label :description_pt_br %>
        </div>
        <div class="col-3">            
          <%= f.text_area :description_pt_br, class:'form-control', placeholder:'Digite uma descrição em Português...' %>            
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-2">
          <%= f.label :description_en_us %>
        </div>
        <div class="col-3">            
          <%= f.text_area :description_en_us, class:'form-control', placeholder:'Digite uma descrição em Inglês...' %>            
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-2">
          <%= f.label :description_es_es %>
        </div>
        <div class="col-3">            
          <%= f.text_area :description_es_es, class:'form-control', placeholder:'Digite uma descrição em Espanhol...' %>            
        </div>
      </div>
      <div class="form-group row mb-2">
        <div class="col-2">
          <label for="exampleFormControlSelect1"><%= f.label :order %></label>            
        </div>
        <div class="col-3">
          <%= f.text_field :order, class:'form-control', placeholder:'Digite a ordem do tanque Ex: 1 (para primeiro)' %>
        </div>          
      </div>
      <div class="row mb-2">
        <div class="col-2">
          <%= f.label :image %>
        </div>
        <div class="col-3">            
          <%= f.file_field :image %> <br>
          <%= image_tag(@tank.image.url(:thumb), class: 'card-img-top')%>  
        </div>          
      </div>
    </form>

    <div class="actions">
      <%= f.submit 'Criar', class:'btn btn-success' %>
    </div>    
  </div>
<% end %>
