<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">    
    <div class="btn-novo-tanque">
    <h1>Administrador de Tanques</h1>      
    </div>
    <div class="">
      <%= link_to 'Novo Tanque', new_admin_tank_path, class:'btn btn-primary' %>
      <%= link_to 'Voltar', admin_path, class:'btn btn-primary' %>
    </div>    
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Ordem</th>
          <th scope="col">Tanques</th>
        </tr>
      </thead>
      <tbody>
        <% @tanks.each do |tank| %>
        <tr>
          <th scope="row"><%= tank.order %></th>
          <td class="col-3"><%= tank.name_pt_br %></td>
          <td class="col-1"><%= link_to 'Visualizar como Usuário', guidedtour_path(tank.id), class:'btn btn-success' %></td>
          <td class="col-1"><%= link_to 'Mostrar', [:admin, tank], class:'btn btn-primary' %></td>
          <td class="col-1"><%= link_to 'Editar', edit_admin_tank_path(tank), class:'btn btn-info'%></td>
          <td class="col-1"><%= link_to 'Deletar', [:admin, tank], method: :delete, data: { confirm: 'Tem certeza?' }, class:'btn btn-danger' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>  
</div>
