<p id="notice"><%= notice %></p>


<p>
  Nome em Protuguês:
  <%= @tank.name_pt_br %>
</p>
<p>
  Nome em Inglês:
  <%= @tank.name_en_us %>
</p>
<p>
  Nome em Espanhol:
  <%= @tank.name_es_es %>
</p>

<p>
  Descrição em Protuguês:
  <%= @tank.description_pt_br %>
</p>

<p>
  Descrição em Inglês:
  <%= @tank.description_en_us %>
</p>

<p>
  Descrição em Espanhol:
  <%= @tank.description_es_es %>
</p>

<p>
  Ordem do tanque:
  <%= @tank.order %>
</p>

<p>
  <%= image_tag(@tank.image.url(:thumb), class: 'card-img-top') %>
</p>
<%= link_to 'Edit', edit_admin_tank_path(@tank) %> |
<%= link_to 'Back', admin_tanks_path %>
