<!DOCTYPE html>
<html>
  <head>
    <title>PortalAquario</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= yield(:head) %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>
    <div class="container header">
      <div class="row">
        <div class="col band fixed-top">
          <%= link_to es_es_path do %>
            <%= image_tag "bandeiras/es.png", class: 'img-responsive bandeiras' %>  
          <% end %>         
          <%= link_to en_us_path do %>
            <%= image_tag "bandeiras/usa.png", class: 'img-responsive bandeiras' %>  
          <% end %>
            <%= link_to pt_br_path do %>
            <%= image_tag "bandeiras/br.png", class: 'img-responsive bandeiras' %>  
          <% end %>          
        </div>        
      </div>
    </div>     

    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:footer) %>
    <footer class="fixed-bottom copy">
      <div>
        Copyright© Todos os direitos reservados à AquaRio.
      </div>
    </footer>
  </body>
</html>
