<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="btn-novo-tanque">
    <h1>Administrador de Pesquisas</h1>
    </div>
    <div class="">
      <%= link_to 'Nova Pesquisa', new_admin_research_path, class:'btn btn-primary' %>
      <%= link_to 'Voltar', admin_path, class:'btn btn-primary mr-3' %>
    </div>
  </div>

  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Pesquisas</th>
        <th scope="col">Tanque</th>
      </tr>
    </thead>
    <tbody>
      <% @researches.each do |research| %>
      <tr>
          <td class="col-4"><%= research.title_pt_br %></td>
          <td><%= research.tank.name_pt_br %></td>
          <td class="col-1"><%= link_to 'Visualizar como Usuário', researches_path(research.id), class:'btn btn-success' %></td>
          <td><%= link_to 'Mostrar', [:admin, research], class:'btn btn-primary' %></td>
          <td><%= link_to 'Editar', edit_admin_research_path(research), class:'btn btn-info'%></td>
          <td><%= link_to 'Deletar', [:admin, research], method: :delete, data: { confirm: 'Tem certeza?' }, class:'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>