<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
    <div class="btn-novo-tanque">
    <h1>Administrador de Pesquisas</h1>
    </div>
    <div class="">
      <%= link_to 'Nova Pesquisa', new_admin_research_path, class:'btn btn-primary' %>
      <%= link_to 'Voltar', admin_path, class:'btn btn-primary mr-1' %>
    </div>
  </div>
</div>

<table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Pesquisas</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>   
          <th scope="col"></th>   
        </tr>
      </thead>
      <tbody>
        <% @researches.each do |research| %>
        <tr>
            <td><%= research.title_pt_br %></td>
            <td><%= link_to 'Mostrar', [:admin, research], class:'btn btn-primary' %></td>
            <td><%= link_to 'Editar', edit_admin_research_path(research), class:'btn btn-info'%></td>
            <td><%= link_to 'Deletar', [:admin, research], method: :delete, data: { confirm: 'Tem certeza?' }, class:'btn btn-danger' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>


